PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
ARB_RPC_URL=https://arb1.arbitrum.io/rpc
OP_RPC_URL=https://mainnet.optimism.io
ETH_RPC_URL=https://ethereum-rpc.publicnode.com
BASESCAN_API_KEY=
# Override per run if you want. Defaults: 0.005 ETH on L2, 0.05 ETH on Ethereum.
# VRF_FUND_WEI=5000000000000000
